$primary-color = #1e81b0
$secondary-color = #e28743
$white-color = #f0f0f0
$black-color = #21130d

color-2 = #eab676
color-3 = #76b5c5
color-5 = #873e23
color-6 = #abdbe3
color-7 = #063970
color-8 = #154c79

